
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>This Company management system CRUD Operation With ASP.Net MVC</h3>
        <p>
            Using :<br />
            - N-Tier Architechture pattern ,<br />
            - Repository Design pattern ,<br />
            - Entity FrameWork core ,<br />
            - Linq ,<br />
            - Auto Mapper ,<br />
            - Microsoft Identity .
        </p>
</div>

<div>
    <p>"Note that there are three types of User Roles: Admin, HR, and Normal User.<br />
    Admin can Add a new Role and Assign a normal user to the Role. He can also Search for a Specific user.
    He can Add a new Department and a New Employee and Assign the employee to the Department.
    He can search for a specific employee by its name and can also filter all employees by department.<br />
    The HR can Add a new Department and a New Employee and Assign the employee to the Department.
    He can search for a specific employee by its name and can also filter all employees by department.<br />
    The Normal User can only register in the system and see the Home Page.
    </p>
</div>
<div>
    <p>Notice :  Please note that during project setup, the three roles (Admin, HR, Normal User) are automatically created in the database.<br /> Additionally, an Admin User is added with the email "Admin@company.com," and an HR User is added with the email "HR@company.com.".<br /> You can find the password in the AppIdentityContextSeed Class.</p>

</div>
