
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ContactUs</h1>
<h4>
    <i class="bi bi-linkedin"></i>
    <a href="https://www.linkedin.com/in/abdel-rahman-mohammed-saleh/">AbdEl-Rahman Saleh</a>
</h4>
<h4>
    <i class="bi bi-facebook"></i> 
    <a href="https://www.facebook.com/abdelrahman.saleh23/">AbdEl-Rahman Saleh</a>
</h4>
