@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Notice :  Please note that during project setup, the three roles (Admin, HR, Normal User) are automatically created in the database.<br /> Additionally, an Admin User is added with the email "Admin@company.com," and an HR User is added with the email "HR@company.com.".<br /> You can find the password in the AppIdentityContextSeed Class.</p>
